@import url('https://fonts.googleapis.com/css?family=Open+Sans|Sedgwick+Ave+Display');
@import url('https://fonts.googleapis.com/css?family=Open+Sans|Playfair+Display|Sedgwick+Ave+Display');

.panel {
  height: 100%;
  margin-top: 2em;
}

.border-right {
  border-right: solid black;
}

.section-title {
  font-family: 'Playfair Display', serif;
}

#todo-list, #progress-list, #done-list {
  height: 100%;
}

.lvl1 {
  border-top-color: #f44260 !important;
}

.lvl2 {
  border-top-color: #d041f4 !important;
}

.lvl3 {
  border-top-color: #ca41f4 !important;
}

.lvl4 {
  border-top-color: rgb(68, 65, 244) !important;
}

.lvl5 {
  border-top-color: #46bef2 !important;
}

.lvl6 {
  border-top-color: #42f45a !important;
}

.lvl7 {
  border-top-color: #42f460 !important;
}

.lvl8 {
  border-top-color: #7af442 !important;
}

.lvl9 {
  border-top-color: #f4ca42 !important;
}

.lvl10 {
  border-top-color: #f4071b !important;
}

.postit {
  background-color: #fdffcc;
  line-height: 1;
  text-align: center;
  width: 275px;
  height: 150px;
  padding-top: 35px;
  position: relative;
  border: 1px solid #E8E8E8;
  border-top: 5px solid;
  font-size: 22px;
  border-bottom-right-radius: 60px 5px;
  display: inline-block;
  overflow: hidden;
}

.stk-title {
  font-family: 'Sedgwick Ave Display';
}

.stk-content {
  font-family: 'fantasy';
  font-size: 20px;
}

.settings {
  cursor: pointer;
  position: absolute;
  top: 5px;
  right: 10px;
  width: 18px;
  height: 16px;
  transition: all 0.3s ease-in-out 0s;
}

.settings:hover {
  transform: rotate(180deg);
  transition: all 0.3s ease-in-out 0s;
}
