<html>

<head>
  <meta charset="UTF-8">
  <title>Scrum App</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>

<body>
  <div class="container">
    <div class="row">
      <form>
        <h3 class="center-align">Title</h3>
        <input id="title" />
        <h3 class="center-align">Content</h3>
        <textarea id="content" class="materialize-textarea"></textarea>      
        <h3 class="center-align">Priority</h3>
        <p class="range-field">
          <input type="range" min="1" max="10" />
        </p>
        <p class="center-align">
          <button class="waves-effect waves-light btn" type="submit">
            Create
          </button>
        </p>
      </form>
    </div>
  </div>
  <script src='./index.js'></script>
</body>

</html>
